In [78]:
import numpy as np
import pandas as pd
import hvplot.pandas
from pathlib import Path

### What's the goal here?

- Show different sectors. 
- Explain why we chose sectors.
- Show example of news catalyst and stock price reaction.
- We want to capture that.
- Need to get access to news fast, so we want to subscribe to all these companies' investor relations email lists. I have done this for thousands of stocks by hand, but let's try to iterate.
- After throughly explaining our goal, we can start by taking each ticker and adding "Stock" to the end of it. That way, when we somehow program our computer to search up a google query,
- we will feed in 'ALMU Stock', 'GLUC Stock', 'RGBP Stock'... and so on. From there, we search google, then we need to click on the little bubble that takes us to the official company's website... or we need to get to the website/IR page in a more efficient way.

In [79]:
df = pd.read_csv("../bio-tech-algo-trader/resources/pharmaStocks.csv", header=0)
display(df.head())
display(df.tail())

,Unnamed: 0,ticker,description,sector,Manual subscription work?
0,0,ALMU,AELUMA INC COM,Unlabeled,yes
1,1,GLUC,GLUCOSE HEALTH INC COM,Unlabeled,no
2,2,RGBP,REGEN BIOPHARMA INC COM,Unlabeled,yes
3,3,TLPH,TALPHERA INC COM,Unlabeled,yes
4,4,UNRVD,BLUM HOLDINGS INC COM,Unlabeled,no

,Unnamed: 0,ticker,description,sector,Manual subscription work?
634,634,SPI,SPI ENERGY CO LTD COM,Semiconductors & Semiconductor Equipment,NaN
635,635,SQNS,SEQUANS COMMUNICATIONS ADR,Semiconductors & Semiconductor Equipment,NaN
636,636,TGAN,TRANSPHORM INC COM,Semiconductors & Semiconductor Equipment,NaN
637,637,VLN,VALENS SEMICONDUCTOR LTD COM,Semiconductors & Semiconductor Equipment,NaN
638,638,WKEY,WISEKEY INTERNATIONAL HLDG LTD ADR SPONSORED,Semiconductors & Semiconductor Equipment,NaN

In [80]:
# Tickers
tickers = df['ticker'].to_list()
tickers[:6]

['ALMU', 'GLUC', 'RGBP', 'TLPH', 'UNRVD', 'VPAHF']

In [81]:
# Add 'Stock' after each ticker
new_list = []

for x in tickers:
    new_string = str(x) + " Stock"
    new_list.append(new_string)

new_list[-7:]

['PXLW Stock',
 'RGTI Stock',
 'SPI Stock',
 'SQNS Stock',
 'TGAN Stock',
 'VLN Stock',
 'WKEY Stock']

Just did the first stock manually.